body {
    font-family: 'Montserrat', sans-serif;
    background-color: #B33028;
    color: #333;
    max-width: 960px;
    width: 45%;
    margin: auto;
    border: 5px solid black;
    border-radius: 15px;
}
h1, article{
    padding: 10px 20px 10px;
    background-color: white;
}
h1, h2, h3{
    font-family: 'Press Start 2P', cursive;
}
.userH1{
    font-size: 1.75em;
}
#imgContainer{
    display: flex;
    justify-content: center;
}
img{
    width: 33%;
    height: auto;
}
p{
    font-size: 16px;
    
}
footer{
    color: white;
    text-align: center;
}