body {
  max-width: 1200px;
  max-height: 750px;
  background-image: url(images/pokeBg.jpg);
  margin: 30px;
}
/* label,
input {
  display: block;
} */
main {
  display: flex;
  flex-direction: column;
}
section {
  margin-left: 700px;
}
h1{
    color: white;
}
h2{
    margin-top: 0px;
}
input,
select {
  margin-bottom: 10px;
}
input[type="text"]:focus {
  border: 1px solid #d6d9dc;
  outline: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
